<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Crypto Source Pro</title>
</head>

<body>
  <header>
    <h1 class="title is-uppercase is-size-1 has-text-centered has-text-white">Crypto Source Pro</h1>
    <h2 class="subtitle is-size-3 has-text-centered has-text-white">Your source for current crypto currency rates and
      patterns.</h2>
  </header>

  <main>
    {{{body}}}
  </main>

  <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
</body>

</html>
