<form class = "login-form">
  <div>
    <label for="user-id">Username:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="user-pass">password:</label>
    <input type="password" id="user-pass" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class = "signup-form">
  <div>
    <label for="register-id">Username:</label>
    <input type="text" id="register-id" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/assets/js/login.js"></script>
