<form>
  <div>
    <label for="user-id">Username:</label>
    <input type="text" id="user-id" />
  </div>
  <div>
    <label for="user-pass">Password:</label>
    <input type="password" id="user-pass" />
  </div>
  <div>
    <button type="login">Login</button>
  </div>
  <div>
    <button type="register">Register</button>
  </div>
</form>

<script src="/javascript/login.js"></script>