body {
  background-image: url(../images/cypto2.jpg);
  background-color: rgba(0,0,0, 0.0);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

header {
  background-color: black;
  opacity: 100%;
}


.article-container {
  height: 500px;
  overflow-x: scroll;
}

.backgroundContainer,
.backgroundContainer2 {
  margin: 20px;
  padding: 5px;
  background-color: black;
  opacity: 100%;
  border: 2px rgb(98, 0, 255) solid;
}

.cardHeight {
  max-height: 50vh;
}

.content {
  margin: 5%;
}

.hero-body {
  align-items: self-start !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cryptoName,
.cryptoValue,
.time-date {
  text-align: center;
}

section.container {
  align-self: baseline;
  justify-content: center;
  flex-wrap: wrap;
  flex: content;
  flex-direction: row;
}

.navbar,
.button {
  display: flex;
}